/*
filename: csignup.css
author: Bryan Indra Yanto
created: 23/03/2023
last modified: 23/03/2023
*/

/* set font style of all pages */
* 
{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login
{
	color: white;
	float: right;
	font-family:'Montserrat';
	font-size: 30px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 2px;
	margin-right:50px;
	text-decoration: none;
}

body.home
{
	background-image:url(../image/14.jpg);
	background-size: cover;
}

/* Section */

.section1
{
	width: 100%;
	height: 150%;
	background-color: white;
}

/* Container */
.container
{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}
.container:after
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
.contact-box
{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
}

.left{
	background: url(../image/15.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	color: white;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.btn:hover{
    background-color: #27ae60;
}
.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

/*Resize the font size paragraph*/
.section>h2
{
	text-align: center;
	font-size: 40px;
	color: white;
}

.paragraph2
{
	font-size: 20px;
	font-family: 'Montserrat';
	color: black;
	text-align: center;
}

/* Images footer */

.image-section
{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 150px;
	  margin-top: 100px;
}
